[Unit]
Description=WiFi Provisioning Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/rpi-wifi-connectivity-through-hotspot
ExecStart=/home/pi/rpi-wifi-connectivity-through-hotspot/venv/bin/python /home/pi/rpi-wifi-connectivity-through-hotspot/wifi_boot.sh
Restart=always

[Install]
WantedBy=multi-user.target
