[Unit]
Description=WiFi Provisioning Service
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/home/pi/rpi-wifi-connectivity-through-hotspot/wifi_boot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
